{% extends 'authentication/layout_1.html' %}
{% block title %}Login{% endblock %}
{% block content %}

		{% if check_login %}
			
		{% endif %}
		
		<form action = "{% url 'question:index' username  %}" method = 'post'>
    		{% csrf_token %}
    		
			{% if not check_login %}
			<p> ask something!</p>
			<input type="text" name="asker_" placeholder="Asker" required>
			<br />	
			<input type="text" name="content_" placeholder="Content of the question" required="">
			<br />
			<input type = "submit" value = "Ask" />
			{% endif %}
		
			{% if question_list %}
				<h2> Someone asked {{ username }} :3 </h2>
		
    			{% for q in question_list %}
        			<ul>
        				<li>From: {{ q.name_asker }} </li>
          				<li>Question: {{ q.content }}</li>
            				{% if not q.answer %}
            					{% if check_login %}
            					<input type="text" name="answer_" placeholder="Your answer">
            					<input type="hidden" name="question_id" value="{{ q.id }}">
            					<input type="submit" name="Answer">
            						
            					{% endif%}
            				{% else %}
            					<p>  The answer: {{ q.answer }}</p>
            				{% endif %}
            	
     

        			</ul>
    			{% endfor %}
    	
    		{% else %}
    			<p> {{ username }} don't have any question yet!</p>	
    		{% endif %}
		</form>
 {% endblock %}