<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}HOME{% endblock %}</title>
</head>
<body>
	{% if request.user and user.is_authenticated %}
      
	   <h2> hello user: {{ request.user.username }}</h2>
     <a href = "{% url 'authentication:logout' %}">log out!!!</a>
  {% else %}
    

    <a href="{% url 'authentication:login' %}"> login !!!</a>
	{% endif %}
  <main>
    {% block content %}
    <h3> day la trang sau khi dang nhap thanh cong!! </h3>
    {% endblock %}
  </main>
</body>
</html>