{% extends 'authentication/layout_1.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<h1>LOGIN</h1>
 <!-- hien len "error" trong trang views.py-->

{% if error %}  
<p> {{error}} </p>
{% endif %}
{% if message %}  
<p> {{message}} </p>
{% endif %}
<form action = "{% url 'authentication:login' %}" method = 'post'>
	{% csrf_token %}
	<input type="text" name="username" placeholder="Username" required>
	<br />	
	<input type="password" name="password" placeholder="Password" required="">
	<br />
	<input type = "submit" value = "Login" />

</form>

<div>
	<a href="{% url 'authentication:signup' %}" > let's sign up now!</a>
</div>
<!--<form action = "{% url 'authentication:signup' %}" method = 'POST'>
		{% csrf_token %}
		<input type = "submit" value = "Sign Up" />
</form>-->
{% endblock %}
