{% extends 'authentication/layout_1.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>SIGN UP</h1>
{% if message %}  
<p> {{message}} </p>
{% endif %}
<form action = "{% url 'authentication:signup' %}" method = 'post' >
    {% csrf_token %}


    <input type = "email" name = "email" placeholder="your email"  required="fill out plz" />
    
    <br />
    <input type = "text" name = "firstname" placeholder="your firstname" required=""/>
    
    <br />
    <input type = "text" name = "lastname" placeholder="your lastname" required=""/>

    <br />
    <input type = "text" name = "username" placeholder="Username" required=""/>

    <br />
    <input type = "password" name = "password" placeholder="Password" required=""/>

    <br /><input type = "submit" value = "Sign up" />

</form>
<div>
    <a href="{% url 'authentication:login' %}" > let's sign in now!</a>
</div>

{% endblock %}